In [4]:
import pandas as pd

# Criar um DataFrame
data = {
    'Nome': ['Alice', 'Bob', 'Charlie'],
    'Idade': [25, 30, 35],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']
}
df = pd.DataFrame(data)

# Exibir a tabela
df

      Nome  Idade          Cidade
0    Alice     25       São Paulo
1      Bob     30  Rio de Janeiro
2  Charlie     35  Belo Horizonte